@model Management.Common.Models.UserEdit;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_accountLayout";
}





<link href="~/css/signup.css" rel="stylesheet" />

<div class="container_user_details" >
    <div class="card_user_index" style="height:1065px">
        <div class="card_title">

            <div class="btn btn-success">Please Fill your deatils </div>
        </div>
        <div class="form">
         
            <form enctype="multipart/form-data" asp-action="UpdateUsers" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for="@Model.FirstName"></label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    <input asp-for="@Model.FirstName" type="text" name="FirstName" id="FirstName" placeholder="FirstName" /> 
                    
                </div>

                <div>
                    <label asp-for="@Model.LastName"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                    <input asp-for="@Model.LastName" type="text" name="LastName" id="LastName" placeholder="LastName" /> 
                    
                <div>


                <div>
                    <label asp-for="@Model.Email"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    <input asp-for="@Model.Email" type="email" name="Email" placeholder="" id="Email" readonly />

                <div>


                <div>
                     <label asp-for="@Model.Address"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span asp-validation-for="@Model.Address" class="text-danger"></span>
                    <input asp-for="@Model.Address" type="text" name="Address" placeholder="" id="Address" />
                 
               
                </div>

                 <div>
                       <label asp-for="@Model.Mobile"></label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp; <span asp-validation-for="@Model.Mobile" class="text-danger"></span>
                      <input asp-for="@Model.Mobile" type="text" name="Mobile" id="Mobile" placeholder="PhoneNumber" />
                      
                 </div>

                <div>
                    <label asp-for="@Model.ProfileImage" class="control-label"></label> &nbsp;&nbsp;&nbsp;&nbsp <span asp-validation-for="@Model.ProfileImage" class="text-danger"></span>
                    <input asp-for="@Model.ProfileImage" class="custom-file-input" id="ProfileImage" name="ProfileImage">
                    
                </div>

                <div>
                    <label asp-for="@Model.Github"></label>
                     <input asp-for="@Model.Github" type="text" name="Github" id="Github" placeholder="Enter Github Link" />
                   
                </div>

                 <div>
                     <label asp-for="@Model.Instagram"></label>
                     <input asp-for="@Model.Instagram" type="text" name="Instagram" id="Instagram" placeholder="Enter Instagram Link" />
                     
                  </div>

                  <div>
                      <label asp-for="@Model.Facebook"></label>
                      <input asp-for="@Model.Facebook" type="text" name="Facebook" id="Facebook" placeholder="Enter Facebook Link" />
                      
                   </div>

                  <div>
                      <label asp-for="@Model.Twitter"></label>
                      <input asp-for="@Model.Twitter" type="text" name="Twitter" id="Twitter" placeholder="Enter Twitter Link" />
                     
                  </div>

                 <div class="card_title">
                     <button type="submit">Save Changes</button>
                 </div>
              
            </form>
        </div>

    </div>


</div>







@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    
    }

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#DateOfJoining").datepicker();
        });
    </script>
  

}