@using Management.Common.Models.DTO
@{
    Layout = "_accountLayout";
}
<head>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
</head>



<h1>Create New Project here.</h1>
<br />

<a asp-action="Add" asp-controller="Project" class="btn btn-primary">Add Project</a>
<br />
<br />


<form asp-action="Search" method="get">
    <div style="display:flex">
        <h3><label for="searchInput">Search by Name:</label></h3>
        <input style="width: 335px" class="form-control" type="text" id="searchInput" name="value" />
        <button style="margin-left: 20px " class="btn btn-primary" type="submit" id="searchButton">Search</button>
    </div>
</form>

<br />
<br />

@model Management.Common.Models.DTO.PaginatedList<Management.Common.Models.DTO.ProjectDto>

<table class="table" style="border-collapse: separate;border-spacing: 14px 8px;">
    <thead>
        <tr>
            <th>Logo</th>
            <th >
                <span>Name</span>
                    <a asp-action="Index" asp-route-sortField="Name" asp-route-sortOrder="asc">▲</a>
                    <a asp-action="Index" asp-route-sortField="Name" asp-route-sortOrder="desc">▼</a>
            </th>
            <th >
                <span>StartDate</span>
                    <a asp-action="Index" asp-route-sortField="StartDate" asp-route-sortOrder="asc">▲</a>
                    <a asp-action="Index" asp-route-sortField="StartDate" asp-route-sortOrder="desc">▼</a>
            </th>
            <th>
                <span>Status</span>
                    <a asp-action="Index" asp-route-sortField="Status" asp-route-sortOrder="asc">▲</a>
                    <a asp-action="Index" asp-route-sortField="Status" asp-route-sortOrder="desc">▼</a>
            </th>
            <th>Description</th>
            <th>DevelopmentName</th>
            <th>DevelopmentUrl</th>
            <th>StageName</th>
            <th>StageUrl</th>
            <th>ProductionName</th>
            <th>ProductionUrl </th>
            <th>Documentation</th>
            <th>SnapShoots</th>
            <th>TechStackUsed</th>
            <th>Action</th>
    </thead>
    <tbody>
        @if (Model.Items.Any())
        {
            @foreach (var project in Model.Items)
            {
                <tr>
                    <td><img src="@project.LogoUrl" width="100" height="100"></td>
                    <td>@project.Name</td>
                    <td>@project.StartDate.ToShortDateString()</td>
                    <td>@project.Status</td>
                    <td>@project.Description</td>
                    <td>@project.DevelopmentName</td>
                    <td>@project.DevelopmentUrl</td>
                    <td>@project.StageName</td>
                    <td>@project.StageUrl</td>
                    <td>@project.ProductionName</td>
                    <td>@project.ProductionUrl</td>
                    <td><img src="@project.DocumentationUrl" alt="Pdf Uploaded Here" width="100" height="100"></td>

                    <td>
                        @foreach (var techStack in project.SnapShootsUrl)
                        {
                            <img src="@techStack" width="100" height="100">
                        }
                    </td>
                  
                    <td>
                        @foreach (var techStack in project.TechStackUsedObj)
                        {
                            <p>@techStack.Name</p>
                        }
                    </td>
                    <td style="display:flex">
                        <a style="margin-right: 6px" class="btn btn-primary" href="@Url.Action("Update", "Project", new { id = project.ProjectId })">Edit</a>
                        <a style="margin-right: 6px" class="btn btn-danger" href="@Url.Action("Delete", "Project", new { id = project.ProjectId })">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="13">No projects found.</td>
            </tr>
        }
        
    </tbody>
</table>

<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= (Model.TotalCount + Model.PageSize - 1) / Model.PageSize; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i, sortField = ViewBag.SortField, sortOrder = ViewBag.SortOrder })">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
